In [1]:
import pandas as pd
pd.options.display.max_columns=None
import numpy as np

In [2]:
pd.__version__

'2.2.2'

In [3]:
df = pd.read_csv("../data/customer_churn_dataset.csv")
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1.0,22.0,Female,25.0,14.0,4.0,27.0,Basic,Monthly,598.0,9.0,1.0
1,2.0,41.0,Female,28.0,28.0,7.0,13.0,Standard,Monthly,584.0,20.0,0.0
2,3.0,47.0,Male,27.0,10.0,2.0,29.0,Premium,Annual,757.0,21.0,0.0
3,4.0,35.0,Male,9.0,12.0,5.0,17.0,Premium,Quarterly,232.0,18.0,0.0
4,5.0,53.0,Female,58.0,24.0,9.0,2.0,Standard,Annual,533.0,18.0,0.0

In [4]:
import deepchecks
deepchecks.__version__

/home/habib/miniconda3/lib/python3.12/site-packages/sklearn/metrics/_scorer.py:610: FutureWarning:

The `needs_threshold` and `needs_proba` parameter are deprecated in version 1.4 and will be removed in 1.6. You can either let `response_method` be `None` or set it to `predict` to preserve the same behaviour.

'0.19.1'

In [5]:
from deepchecks.tabular.suites import full_suite
suites=full_suite()
suites

Full Suite: [
	0: TrainTestPerformance
		Conditions:
			0: Train-Test scores relative degradation is less than 0.1
	1: RocReport
		Conditions:
			0: AUC score for all the classes is greater than 0.7
	2: ConfusionMatrixReport
	3: PredictionDrift
		Conditions:
			0: Prediction drift score < 0.15
	4: SimpleModelComparison
		Conditions:
			0: Model performance gain over simple model is greater than 10%
	5: WeakSegmentsPerformance(n_to_show=5)
		Conditions:
			0: The relative performance of weakest segment is greater than 80% of average model performance.
	6: CalibrationScore
	7: RegressionErrorDistribution
		Conditions:
			0: Kurtosis value higher than -0.1
			1: Systematic error ratio lower than 0.01
	8: UnusedFeatures
		Conditions:
			0: Number of high variance unused features is less or equal to 5
	9: BoostingOverfit
		Conditions:
			0: Test score over iterations is less than 5% from the best score
	10: ModelInferenceTime
		Conditions:
			0: Average model inference time for one sample is less than 0.001
	11: DatasetsSizeComparison
		Conditions:
			0: Test-Train size ratio is greater than 0.01
	12: NewLabelTrainTest
		Conditions:
			0: Number of new label values is less or equal to 0
	13: NewCategoryTrainTest
		Conditions:
			0: Ratio of samples with a new category is less or equal to 0%
	14: StringMismatchComparison
		Conditions:
			0: No new variants allowed in test data
	15: DateTrainTestLeakageDuplicates
		Conditions:
			0: Date leakage ratio is less or equal to 0%
	16: DateTrainTestLeakageOverlap
		Conditions:
			0: Date leakage ratio is less or equal to 0%
	17: IndexTrainTestLeakage
		Conditions:
			0: Ratio of leaking indices is less or equal to 0%
	18: TrainTestSamplesMix(n_to_show=5)
		Conditions:
			0: Percentage of test data samples that appear in train data is less or equal to 5%
	19: FeatureLabelCorrelationChange(ppscore_params={}, random_state=42)
		Conditions:
			0: Train-Test features' Predictive Power Score difference is less than 0.2
			1: Train features' Predictive Power Score is less than 0.7
	20: FeatureDrift
		Conditions:
			0: categorical drift score < 0.2 and numerical drift score < 0.2
	21: LabelDrift
		Conditions:
			0: Label drift score < 0.15
	22: MultivariateDrift
		Conditions:
			0: Drift value is less than 0.25
	23: IsSingleValue
		Conditions:
			0: Does not contain only a single value
	24: SpecialCharacters
		Conditions:
			0: Ratio of samples containing solely special character is less or equal to 0.1%
	25: MixedNulls
		Conditions:
			0: Number of different null types is less or equal to 1
	26: MixedDataTypes
		Conditions:
			0: Rare data types in column are either more than 10% or less than 1% of the data
	27: StringMismatch
		Conditions:
			0: No string variants
	28: DataDuplicates
		Conditions:
			0: Duplicate data ratio is less or equal to 5%
	29: StringLengthOutOfBounds
		Conditions:
			0: Ratio of string length outliers is less or equal to 0%
	30: ConflictingLabels
		Conditions:
			0: Ambiguous sample ratio is less or equal to 0%
	31: OutlierSampleDetection
	32: FeatureLabelCorrelation(ppscore_params={}, random_state=42)
		Conditions:
			0: Features' Predictive Power Score is less than 0.8
	33: FeatureFeatureCorrelation
		Conditions:
			0: Not more than 0 pairs are correlated above 0.9
	34: IdentifierLabelCorrelation(ppscore_params={})
		Conditions:
			0: Identifier columns PPS is less or equal to 0
]

In [6]:
df.dropna(inplace=True)
cat_features = df.select_dtypes(include=['object']).columns.tolist()

# Safely remove columns if they exist in the list
if 'Churn' in cat_features:
    cat_features.remove('Churn')
if 'CustomerID' in cat_features:
    cat_features.remove('CustomerID')

print(cat_features)

['Gender', 'Subscription Type', 'Contract Length']

In [7]:
from deepchecks.tabular import Dataset
dataframeTest=Dataset(df=df,label='Churn',cat_features=cat_features)
dataframeTest

In [8]:
suites.run(dataframeTest)

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:63: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_S4JJ580B2MB4W1DY6RA2MRTVQ">Full Suite</h1>\n<…

In [9]:
dfcopy=df.copy()
dfcopy.drop(['CustomerID'] , axis=1, inplace=True)
#get categorical features
cat_features= dfcopy.select_dtypes(include=['object']).columns.tolist()
dataframeTest=Dataset(df=df,label='Churn',cat_features=cat_features)
dataframeTest

In [10]:
suites.run(dataframeTest)

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:63: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_OG2POD06V4VUYDGP5HPBGKEWH">Full Suite</h1>\n<…

# Individual Test

In [11]:
from deepchecks.suites import data_integrity

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/suites.py:21: DeprecationWarning:

Ability to import tabular suites from the `deepchecks.suites` is deprecated, please import from `deepchecks.tabular.suites` instead

In [12]:
integrity_test=data_integrity()
integrity_test

Data Integrity Suite: [
	0: IsSingleValue
		Conditions:
			0: Does not contain only a single value
	1: SpecialCharacters
		Conditions:
			0: Ratio of samples containing solely special character is less or equal to 0.1%
	2: MixedNulls
		Conditions:
			0: Number of different null types is less or equal to 1
	3: MixedDataTypes
		Conditions:
			0: Rare data types in column are either more than 10% or less than 1% of the data
	4: StringMismatch
		Conditions:
			0: No string variants
	5: DataDuplicates
		Conditions:
			0: Duplicate data ratio is less or equal to 5%
	6: StringLengthOutOfBounds
		Conditions:
			0: Ratio of string length outliers is less or equal to 0%
	7: ConflictingLabels
		Conditions:
			0: Ambiguous sample ratio is less or equal to 0%
	8: OutlierSampleDetection
	9: FeatureLabelCorrelation(ppscore_params={}, random_state=42)
		Conditions:
			0: Features' Predictive Power Score is less than 0.8
	10: FeatureFeatureCorrelation
		Conditions:
			0: Not more than 0 pairs are correlated above 0.9
	11: IdentifierLabelCorrelation(ppscore_params={})
		Conditions:
			0: Identifier columns PPS is less or equal to 0
]

In [13]:
result_integrity_test=integrity_test.run(dataframeTest)
result_integrity_test

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_2A0L0GT6BGYHM13SCS4IQU60G">Data Integrity Sui…

# Saving result as html file

In [14]:
htmlSave=result_integrity_test.save_as_html('result_integrity_test')

# Data Distribution tests

In [15]:
from sklearn.model_selection import train_test_split
df_train,df_test=train_test_split(dfcopy,test_size=0.2)

In [16]:
print(f"df_train:{df_train.shape}")
print(f"df_test:{df_test.shape}")

df_train:(404164, 11)
df_test:(101042, 11)

In [17]:
#transformation
ds_train=Dataset(df=df_train,label='Churn',cat_features=cat_features)
ds_test=Dataset(df=df_test,label='Churn',cat_features=cat_features)
data_distribution_test=suites.run(train_dataset=ds_train,test_dataset=ds_test)
data_distribution_test

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:63: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:63: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/tabular/checks/train_test_validation/train_test_samples_mix.py:85: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_GDJJ4Y94MSAAPFU5KE8E7BAL7">Full Suite</h1>\n<…

In [18]:
dataIntegrityHtmlSaved=data_distribution_test.save_as_html('data_distribution_test')

# Model analysis and validation tests

In [24]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import  train_test_split

dfModel=df.copy()
dfModel.drop(['CustomerID'] , axis=1, inplace=True)
dfModelCopy=dfModel.copy()
#get categorical features
cat_features= dfModel.select_dtypes(include=['object']).columns.tolist()
num_features= dfModel.select_dtypes(include=['float64']).columns.tolist()
num_features.remove("Churn")

In [25]:
import pandas as pd
import pickle
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Load the saved label encoders and scaler
with open("label_encodersFinal.pkl", "rb") as le_file:
    label_encoders = pickle.load(le_file)

with open("scalerFinal.pkl", "rb") as dc_file:
    scaler = pickle.load(dc_file)


training_cols = [
 'Age', 'Gender', 'Tenure', 'Usage Frequency', 'Support Calls', 
    'Payment Delay', 'Subscription Type', 'Contract Length', 'Total Spend', 
    'Last Interaction'
]


def transform_data(df):
    df.dropna(inplace=True)

    y = df['Churn']
    """
    Cleans and preprocesses the given DataFrame to ensure compatibility with the training process.

    Parameters:
    df (pd.DataFrame): Input data as a pandas DataFrame.

    Returns:
    pd.DataFrame: Cleaned and preprocessed DataFrame.
    """
    # Column renaming to match expected training columns
    df = df.rename(columns={
        "Contract_Length": "Contract Length",
        "Last_Interaction": "Last Interaction",
        "Subscription_Type": "Subscription Type",
        "Usage_Frequency": "Usage Frequency",
        "Payment_Delay": "Payment Delay",
        "Support_Calls": "Support Calls",
        "Total_Spend": "Total Spend"    })

    # Define column types
    numerical_cols = [
        'Age', 'Tenure', 'Usage Frequency', 'Support Calls', 
        'Payment Delay', 'Total Spend', 'Last Interaction'
    ]
    categorical_cols = ["Gender", 'Subscription Type', "Contract Length"]


    # Apply StandardScaler to numerical columns
    df[numerical_cols] = scaler.transform(df[numerical_cols])

    

    # Encode categorical columns
    for col in categorical_cols:
        if col in df.columns:
            if col in label_encoders:
                le = label_encoders[col]
                df[col] = le.transform(df[col])
            else:
                raise ValueError(f"No LabelEncoder found for column: {col}")
        else:
            raise ValueError(f"Missing categorical column: {col}")


    X=df

    return X,y

In [26]:
X,y=transform_data(dfModel)
X

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,-1.397268,0,-0.368409,-0.198951,0.053192,1.597784,0,1,-0.089976,-0.651766,1.0
1,0.102271,0,-0.194369,1.425308,1.010558,-0.058790,2,1,-0.147044,0.626074,0.0
2,0.575809,1,-0.252383,-0.663026,-0.585052,1.834437,1,0,0.558160,0.742241,0.0
3,-0.371268,1,-1.296620,-0.430988,0.372314,0.414517,1,2,-1.581911,0.393740,0.0
4,1.049348,0,1.546026,0.961234,1.648801,-1.360383,2,0,-0.354937,0.393740,0.0
...,...,...,...,...,...,...,...,...,...,...,...
505202,0.181194,1,1.313973,-0.082933,-0.904173,-1.242057,1,0,0.392580,-0.767933,0.0
505203,-1.160499,0,-1.354633,-0.314970,-0.904173,0.769497,1,0,0.510793,-1.464937,0.0
505204,-1.081576,1,0.211723,1.309289,-0.904173,-1.005403,2,2,1.456215,-0.651766,0.0
505205,-0.923729,1,1.371986,-0.198951,-0.585052,-1.597037,2,2,-0.071428,-1.464937,0.0
505206,-0.686960,1,0.965894,0.497160,-0.904173,0.059537,1,2,-0.213203,0.742241,0.0

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

In [28]:
dfModela=df.copy()

# Séparer les données en ensembles d'entraînement et de test
df_train, df_test = train_test_split(dfModela, test_size=0.2)

# Appliquer la transformation sur les ensembles d'entraînement et de test
X_train, y_train = transform_data(df_train)
X_test, y_test = transform_data(df_test)

# Créer les objets Dataset pour DeepChecks
df_train_model = Dataset(df=X_train, label='Churn')
df_test_model = Dataset(df=X_test, label='Churn')

# Créer et entraîner le modèle RandomForest
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Exécuter le test avec DeepChecks
result_model_test = suites.run(
    train_dataset=df_train_model,
    test_dataset=df_test_model,
    model=rf_model
)

deepchecks - WARNING - It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data. 3 categorical features were inferred.: Gender, Subscription Type, Contract Length
deepchecks - WARNING - It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data. 3 categorical features were inferred.: Gender, Subscription Type, Contract Length

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/dataframes.py:47: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/dataframes.py:47: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/dataframes.py:47: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:57: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:57: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:57: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:63: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/dataframes.py:47: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/dataframes.py:47: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/dataframes.py:47: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:57: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:57: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:57: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/utils/abstracts/weak_segment_abstract.py:63: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

deepchecks - WARNING - Features importance was not calculated:
Got error when trying to predict with model on dataset: The feature names should match those that were passed during fit.
Feature names seen at fit time, yet now missing:
- Churn

/home/habib/miniconda3/lib/python3.12/site-packages/deepchecks/tabular/checks/train_test_validation/train_test_samples_mix.py:85: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

Full Suite

In [29]:
result_model_test

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_Y7GO7RWKLFYRA96MHZ17QDGFW">Full Suite</h1>\n<…

In [30]:
html_result_model_test=result_model_test.save_as_html('result_model_test')